<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header" style="margin-top: 10px">
            <fullstack-logo></fullstack-logo>
        </div>
        <a ui-sref="home" class="navbar-brand" href="#">brunchstack.io</a>

        <ul class="nav navbar-nav" style="margin-top: 3px">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li > <a ui-sref="cart" ui-sref-active="active">  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Cart <span ng-show="numInCart>0" class="badge">{{ numInCart }}</span></a></li>
        </ul>

        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <a ui-sref="account"> Welcome, {{ user.email }}!</a>
            <a ng-show="user.status === 'Yes'" ui-sref="admin"> <strong> Admin </strong> </a>
            <a ng-click="logout()">Logout</a>
        </div>

    </div>
</nav>
