
  <ul class="nav nav-pills">
    <li ng-repeat="category in categories">

        <a ui-sref="category({categoryName: category._id, _id: category._id})">{{ category.name }}</a>
    </li>
  </ul>

<div class="container">

  <h3>{{ product.name }} - ${{ product.price }}</h3>
  <p> {{ product.description }} </p>
  <p><IMG ng-src="{{ product.photoURL }}" ALT="image" class="img-rounded" width="300" height="250"></p>

  <a ng-show="reviews.length>0" ng-click="showReviews =! showReviews">Show Reviews</a>
  <div ng-hide="showReviews">
    <review ng-repeat="review in reviews" review="review"></review>
  </div>

  <button ng-click="addToCart(product._id)" class="btn btn-primary"> Add to cart </button>
</div>
