<div class="container">

    <h4> Cart </h4>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="list-group list-group-item" ng-repeat="item in cart.products" ng-cloak>
                <h4>{{ item.product.name }}</h4>
                <p>Qty: {{ item.quantity }} (${{item.product.price }} / each)
                    <button ng-click="increaseQty(item.product)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <button ng-show="item.quantity > 1" ng-click="decreaseQty(item.product)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </p>


                </h5>

                <a href="" ng-click="deleteItem(item.product)"></span> Remove from Cart </a>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well">
            <h4> Order Total: ${{ total }} </h4>
        </div>

        <div>
            <p>Shipping Address: </p>
            <select ng-model="selectedAddress">
                <option ng-repeat="address in addresses" value="{{address.address}}">{{address.address}} {{address.city}} {{address.state}} {{address.zip}}</option>
                <option value="" ng-if="false"></option>
            </select>
        </div>
        <br>
        <button class="btn btn-primary" ng-disabled="cart.products.length<1" ng-click="checkout()"> Complete Purchase </button>

    </div>
</div>
